<!--
Team OKC Robotics Content Base
Last modified 8/20/2026 by Caleb Winterscheidt
-->

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Head Data -->
	<title>{{ title }} - Team OKC Robotics</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/epossums.css">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="wrapper">
	<!-- Page Content -->

	<header>
		<!-- Main Header -->
		<div><img src="/images/first-logo.png" alt="FIRST Robotics Logo." width="auto" height="90%"></div>
		<h1>Team OKC Robotics</h1>
		<div><img src="/images/4-h-logo.png" alt="4-H Logo." width="auto" height="90%"></div>
	</header>
	
	<nav>
		<!-- Navigation Links -->
		<a href="/index.html">Home</a>
		<a href="/about.html">About</a>
		<a>News</a>
		<a href="/contact.html">Contact</a>
		<a href="/sponsors.html">Sponsors</a>
	</nav>
	
	<main>
		<!-- Main Page Body -->
	
		{{ content }}
		
	</main>
	
	<footer>
		<!-- Footer -->
		<p>&copy; 2026 <a href="/index.html">Team OKC Robotics - e'possums FRC 2718</a></p>
	</footer>
	
</div>
</body>
</html>