/*
Team OKC Robotics Page Stylesheet
Last modified 1/10/2026 by Caleb Winterscheidt

Colors:
	#FFF - White (large headers, footer)
	#000 - Black (paragraphs)
	#ADF - Blue (nav links)
	#1EBEBE - Light teal (large header backgrounds)
	#1E9E9E - Medium teal (nav background)
	#0AA0A0 - Dark teal (large header borders, small headers)
	
Typography:
	Garamond, serif (headers, footer)
	Calibri, sans-serif (paragraphs, hyperlinks)
*/




/***   MAIN STYLE SHEET   ***/


	/* Overall */
		body {
			background-color: #FFF;
			background-image: url("images/back-gradient.png");
			background-size: 20px 100vh;
			background-repeat: repeat-x;
			background-attachment: fixed;
		}
		wrapper {
			max-width: 100%;
			max-height: 100%;
			overflow: hidden;
		}


	/* Header Bar */
	
		header { 
			display: flex;
			justify-content: space-between;
			background-color: #1EBEBE;
			color: #FFF;
			width: 95%;
			height: 12vh;
			min-height: 40px;
			max-height: 90px;
			border: 8px outset #0AA0A0;
			margin: 0 auto;
			font-family: Garamond, serif;
			vertical-align: center;
		}

		header h1{
			margin: auto auto;
			font-size: 3em;
		}

		header img {
			margin: 0 auto;
		}


	/* Navigation Bar */
	
		nav {
			clear: both;
			display: flex;
			justify-content: space-around;
			width: 90vw;
			height: auto;
			margin: 0 auto;
			min-height: 50px;
			max-height: 100px;
			border: 2px solid #1E9E9E;
			background-color: #1E9E9E;
			text-align: center;
			font-size: 2em;
			font-family: Calibri, sans-serif;
		}
		nav a {
			color: #ADF;
		}
		nav a:hover{
			color: #FDF;
		}


	/* Main Content */
	
		main {
			background-image: url("images/bright-possum-watermark.png");
			background-size: cover;
			opacity: 1;
			width: 90vw;
			height: 75vh;
			border: 2px solid #0AA0A0;
			box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
			margin-left: auto;
			margin-right: auto;
			background-color: #FFF;
			overflow-x: hidden;
			overflow-y: auto;
			font-size: 1.5em;
		}

		.hero {
			display: block;
			margin: 20px auto;
			width: 60%;
			height: auto;
		}

		main h1 {
			display: block;
			width: 40%;
			/*width auto;*/
			height: auto;
			margin-left: 1%;
			border-radius: 10px;
			color: #FFF;
			background-color: #1EBEBE;
			text-align: center;
			font-family: Garamond, serif;
			border: 2px solid #0AA0A0;
		}

		main h3 {
			margin-left: 2%;
			margin-bottom: 10px;
			color: #0AA0A0;
			font-family: Calibri, sans-serif;
		}

		main p {
			margin: 0 3%;
			text-indent: 2%;
			font-family: Calibri, sans-serif;
			line-height: 120%;
		}

		main ul {
			margin-left: 3%;
			font-family: Calibri, sans-serif;
		}
		
		main ul li::marker {
			color: #1E9E9E;
		}


	/* Footer */

		footer {
			margin: auto;
			text-align: center;
			font-family: Garamond, serif;
			color: #FFF;
		}
		footer p {
			margin-bottom: 0;
		}
		footer a {
			color: #FFF;
		}
		
		
	/* Page-Specific Areas */
		
		.table-groups {
			margin: 1% auto auto auto;
			display: grid;
			width: 80%;
			height: auto;
		}
		.table-groups div {
			border: 2px solid #000;
			background-color: #FFF;
			width: auto;
			height: 400px;
		}
		.table-groups div p {
			/*display: inline;*/
			width: 80%;
			margin: auto;
		}
		.table-groups div img {
			display: block;
			margin: auto;
			width: auto;
			height: 40%; 
		}

		#frc-groups {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas: 
				"Design          Finances"
				"Manufacturing   Media"
				"Mechanical      Presentation"
				"Programming     Planning"
				"Electrical      Spirit"
				"Strategy        .";
		}
		
		
		
		.column-left {
			width: 30%;
			float: left;
			padding-left: 20%;
			padding-bottom: 20px;
		}
		.column-left img {
			width: 100%;
			height: auto;
		}
		.column-right {
			width: 30%;
			float: right;
			padding-right: 20%;
			padding-bottom: 20px;
		}
		.column-right img {
			width: 100%;
			height: auto;
		}



/***   TABLET MEDIA QUERY   ***/


@media only screen and (max-width: 700px){
	
	
	/* Overall */
	
		body {
			background-attachment: scroll;
			background-size: 20px 500px;
			background-position: bottom;
		}
		wrapper {
			overflow: auto;
		}
	
	
	/* Header and nav */
	
		header h1 {
			font-size: 2em;
			text-align: center;
		}
		nav {
			flex-direction: column;
			max-height: 1000px;
			margin-bottom: 20px;
		}
		nav a {
			margin: 0 auto;
			width: 100%;
			border: 2px solid #1EBEBE;
		}
	
	
	/* Body */
	
		main {
			display: inline;
			box-shadow: none;
			border: none;
		}
		main h1 {
			/*justify-content: none;*/
			font-size: 1.5em;
			width: 100%;
			margin: 10px auto;
		}
	
	
	/* Footer */
	
		footer {
			margin: 50px auto;
		}
	
	
}




/***   SMARTHPHONE MEDIA QUERY   ***/


@media only screen and (max-width: 450px){
	
	
	/* Headers */
	
		header h1 {
			font-size: 1.5em;
		}
		
		main h1 {
			font-size: 1.2em;
		}
		
		
	/* Images */
	
		.hero {
			display: none;
		}
		#frc-groups div img {
			display: none;
		}
		main img {
			display: none;
		}
		.column-left img {
			display: block;
		}
		.column-right img {
			display: block;
		}
		
	
	/* Lists and Tables */
	
		.column-left {
			clear: both;
			float: none;
			display: block;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			height: auto;
		}
		.column-right {
			clear: both;
			float: none;
			display: block;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
			height: auto;
		}
	
}