---
layout: base.html
title: History
---

<!--
Team OKC Robotics "About/History and Accomplishments" Page
Last modified 8/20/2026 by Caleb Winterscheidt
-->
	
<h1>FRC 2718 History</h1>


{% for season in collections.seasonAccomplishments %}

<br><h3>{{season.data.year}} &dash; {{season.data.title}}</h3>
<p>Robot: {{season.data.robot}}</p>
<ul>
	<li><a href={{season.data.cad}}>CAD</a></li>
	<li><a href={{season.data.github}}>GitHub code repository</a></li>
	<li><a href={{season.data.documentation}}>Design Documentation</a></li>
	<li><a href={{season.data.matches}}>Match videos</a></li>
</ul>

<p>Team Accomplishments:</p>
<ul>
	{% for accomplishment in season.data.accomplishments %}
		<li>{{accomplishment}}</li>
	{% endfor %}
</ul>

{% endfor %}